<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/css/carstyle.css" type="text/css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

    <title>Home</title>

</head>
<body style="background-color:Cyan;">

<div class="container text-info">
    <img src="/static/images/AMRC LOGO.png" alt="logo" class="logo" width="120px" height="100px">
<nav>
    <ul>
        <li><a href="{% url 'home' %} ">Home</a></li>
        <li><a href="/About/">About Us</a></li>
        <li><a href="/booking/">Models</a></li>
        <li><a href="#">Contact us</a></li>
    </ul>
</nav>
</div>
<br>
<br><br><br><br>
<h2 style="text-align:center;"><b><i>ABOUT US</i></b></h2>
<hr>
<p style="text-align: center;">Whether it is to make a right impression over your corporate rivals or showcase grandeur at public events – we have all kinds of business car for rent at XYZ!</p>
<hr>
<div class="container">
    <p>
Are you looking for a car rental service in Thrissur that offers you flexibility, convenience and affordability? If so, you have come to the right place.
        Welcome to Al Maha car Rentals, the online platform that connects you with the best car rental providers in Thrissur. Whether you need a car for a day, a week or longer, we have the perfect vehicle for you.
        You can choose from a wide range of cars, from hatchbacks and sedans to SUVs cars. All our cars are well-maintained, clean and comfortable, and come with features like GPS, air conditioning, music system and more.
        You can also compare prices, models and year of the cars on our website, and book the one that suits your budget and preferences.
        Booking a car with us is easy and hassle-free. Just enter your location, date and time of pick-up and drop-off, and select the car you want.
        You can pay online using your credit card, debit card or net banking, or pay cash on delivery.
        You can also cancel or modify your booking anytime without any extra charges. Kerala Car Rentals is your one-stop solution for all your car rental needs in Kerala. Whether you are travelling for business or leisure, we have the right car for you.
        Book your car today and enjoy the beauty and culture of Kerala with ease and comfort.
    </p>
    <br>
    <ul style="list-style-type:circle;">
        <li> We offer a wide range of vehicles to suit your needs and budget, from hatchbacks and sedans to SUVs and luxury cars.</li>
        <li> You can browse our list of vehicles below, where you will find the prices, models and year of each car.</li>
        <li> To book a car, simply click on the "Book Now" button and fill in your details and preferred dates.</li>
        <li> We guarantee you a hassle-free and convenient rental experience, with free delivery and pickup, 24/7 customer support and flexible payment options.</li>
        <li> Book your car today and enjoy the beauty and culture of Kerala with Al Maha Car Rental.</li>
    </ul>
</div>
<div class="container-fluid1 p-5 bg-secondary">
    <h1><a href="/booking/"> Book Your Ride:</a></h1>
</div>
</body>
</html>